/out/
/tmp/
/.trace/
*.cbuild.yml
*.cbuild-idx.yml
*.cbuild-run.yml
*.cbuild-gen.yml
*.cbuild-gen-idx.yml
*.cbuild-set.yml
*.cbuild2cmake
*.cprj
compile_commands.json
/.clangd
**/RTE/_*/
*.update@*
/.cmsis/tools-environment.yml
/.cmsis/TraceDemo+NUCLEO-L552ZE-Q.ctrace.yml
/.cmsis/*.dbgconf
/.cmsis/*.dbgconf.base@*
/.vscode/cmsis.json
/.vscode/settings.json
/.vscode/launch.json
/.vscode/tasks.json
.DS_Store
